body {
  background: #141414;
  color: #ffffff;
}

header {
  background-color: #141414;
  box-shadow: 10px 0px 5px #007bff;
}
header h1 {
  color: #007bff;
}

.movie-app > .row {
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

a, a:hover {
  color: inherit;
}
